<%- include('../partials/header') %>
    <h1><%= zone %></h1>
    <div class="animals">
        <% animals.forEach(function(a){ %>
            <a class="animal" href="<%=`/animals/${a._id}`%>">
                <%= a.name %>
            </a>
        <% }) %>
    </div>    
<%- include('../partials/footer') %>