<%- include('../partials/header') %>
    <h1><%= zone %></h1>
    <div class="animals">
        <% animals.forEach(function(a){ %>
            <div class="animal">
                <a href="<%=`/animals/${a._id}`%>">
                <%= a.name %></a>
            </div>
        <% }) %>
    </div>    
<%- include('../partials/footer') %>