<%- include('../partials/header') %>
    <h1><%= zone %></h1>
    <div>
        <% animals.forEach(function(a){ %>
            <div><a href="<%=`/animals/${a._id}`%>">
                <%= a.name %>
            </a></div>
        <% }) %>
    </div>    
<%- include('../partials/footer') %>