<%- include('./partials/header') %>
<div class="home-container">
    <div class="home-contents">
        <h1><%= title %></h1>
        <p>Welcome to <%= title %></p>
        <div id="entry"><a href="/zones">Enter the Wonderland!</a></div>
        <div class="weather-fcst">
            <h4>Weather in the Wonderland</h4>
            <% days.forEach(function(day, index){ %>
                <div class="weather">
                    <span class="day"><%= day %></span>
                    <span class="min-temp">Low <%= minTemp[index] %>&deg;C</span>
                    <span class="max-temp">High <%= maxTemp[index] %>&deg;C</span>
                </div>
            <% }) %>
        </div>
    </div>
</div>
<%- include('./partials/footer') %>