<%- include('../partials/header') %>
<h1>Edit Your Booking Details</h1>
<form action="/bookings/<%= booking._id %>/edit?_method=PUT" method="POST">
    <div>
    <label>Pick a show date
        <input type="date" name="showDate" value="<%= booking.showDate.toISOString().split('T')[0] %>" required>
    </label>
    </div>
    <div>
    <label>Select number of adults
        <input type="number" name="numberOfAdults" min="1" max="5" value="<%= booking.numberOfAdults %>" required>
    </label>
    </div>
    <div>
    <label>Select number of children
        <input type="number" name="numberOfChildren" min="0" max="5" value="<%= booking.numberOfChildren %>" required>
    </label>
    </div>
    <button type="submit">Change My Booking</button>
</form>
<%- include('../partials/footer') %>