<%- include('../partials/header') %>
<h1>Your Booking Details</h1>
<h4>Each of our animal shows are held daily. Please understand that animals need to rest well to give the best performance in each show.</h4>
<% if(bookings.length > 0) { %>
    <% bookings.forEach(function(b, index) { %>
        <div>Booking <%= index + 1 %></div>
        <div>
            Show Name: 
            <a href="/shows/<%= b.animalShow._id %> %>"><%= b.animalShow.name %></a>
        </div>
        <div>
            Show Date: 
            <%= b.showDate.toLocaleDateString('en-au') %>
        </div>
        <div>
            Show Time:
            <%= b.animalShow.timeOfDay %>
        </div>
        <div>
            Number of Adults: 
            <%= b.numberOfAdults %>
        </div>
        <div>
            Number of Children: 
            <%= b.numberOfChildren %>
        </div>
        <div>
            <button type="submit">
                <a href="/bookings/<%= b._id %>/edit">Change details</a>
            </button>
        </div>
        <form action="/bookings/<%= b._id %>?_method=DELETE" method="POST">
            <button type="submit">Delete</button>
        </form>
    <% }) %>
<% } %>
<%- include('../partials/footer') %>